body {
    font-family: Arial, Helvetica, sans-serif;
}



nav.navbar {
    top: auto
}

header>div img {
    width: 10vh;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle .fa-chevron-down {
    font-size: 0.6rem;
    color: gray;
}

.jumbotron {
    position: relative;
}

.margin-top {
    margin-top: 106px;
}

.bg-img img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.jumbotron .container-xxl {
    position: relative;
}

.jumbo-logo img {
    width: 50%;
}


.section:not(.full-height) {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card-border {
    border-radius: 10px;
    overflow: hidden;
    margin: 0.5rem 0;
}

.banner-img {
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
}

.width-20 {
    width: 20%;
}