@import url("btn.css");
@import url("utility.css");
@import url("mediaquery.css");

body {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bs-primary-rgb: rgb(0, 67, 156);
    --bs-primary-light-rgb: rgb(27, 90, 173);
    --bs-danger-rgb: rgb(255, 59, 48);
    --bs-danger-light-rgb: rgb(252, 76, 67);
    --color-secondary: rgb(33, 37, 41);
    --color-terziary: rgb(51, 51, 51);
    --color-terziary-light: rgb(66, 65, 65);
    --color-success: rgb(22, 28, 59);
    --bs-light-rgb: rgb(190, 188, 187);
    --bs-light-light-rgb: rgb(212, 210, 209);
    --bs-superlight-rgb: rgb(212, 210, 209);
}

.section:not(.full-height) {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.sony-header {
    max-width: 75px;
}

nav {
    z-index: 100;

}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--bs-primary-rgb) !important;
    transition: color 0.15s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover i {
    color: var(--bs-primary-rgb) !important;
    transition: color 0.15s ease-in-out;
}

.dropdown {
    position: static;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle .fa-chevron-down {
    font-size: 0.6rem;
    color: gray;
}

.jumbotron {
    position: relative;
}

.bg-img img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.jumbotron .container-xxl {
    position: relative;
}

.jumbo-logo img {
    width: 50%;
}

.banner-img {
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
}

.my-card {
    transform: translateY(0);
    position: relative;
    display: block;
}

.my-card a {
    display: block;
}

.my-card:hover {
    transform: translateY(-10%);
    transition: transform 0.5s ease-in-out;
}

.my-card:after {
    content: "";
    position: absolute;
    left: -8px;
    top: -1px;
    right: -8px;
    bottom: -1px;
    border-radius: 14px;
    border: 2px solid var(--bs-primary-rgb);
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.my-card:focus:after {
    opacity: 1;
}

.ps5-img {
    width: 100%;
}

.card-border-bottom {
    height: 100%;
    border-bottom-color: transparent;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.card-border-bottom:hover {
    border-bottom-color: var(--bs-primary-rgb);
    transition: all 0.15s ease-in-out;
}






.my-dropdown {
    top: 50px !important;
}

.my-dropdown a {
    text-decoration: none;
    color: black;
}

.my-dropdown ul {
    list-style: none;
}

.my-dropdown i {
    color: var(--bs-primary-rgb);
    font-size: 0.6rem;
    margin-right: 0.5rem;
    align-self: center;
}

a.dropdown-toggle:focus i {
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
}



.full-h .btn {
    max-width: 124px;
}